body {
    background-color: black;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #34A5DA;
    font-size: .85rem;
    margin-top: 0;
    margin-bottom: 0;
    height: 75px;

}

.main {
    background: white;
    width: 80%;
    height: 300px;
    /* height: 350px; */
    margin: 100px auto;
    margin-bottom: 10px;
    padding: 20px;
    line-height: 1.3;
    
}

h2 {
    padding: 20px;
    margin-top: 0;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.left {
    float: right;
   
}
span {
    font-size: 1.2rem;
    font-weight: 900;
}

button {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    background: none;
  
}
.counter {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    
}